% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Categorías</h1>
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <a href="{% url 'crear_categoria' %}" class="btn btn-primary mb-3"><i class="bi bi-plus-circle"></i> Crear Nueva Categoría</a>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nombre }}</td>
                <td>
                    <a href="{% url 'detalle_categoria' categoria.id %}" class="btn btn-info"><i class="bi bi-eye"></i> Ver</a>
                    <a href="{% url 'actualizar_categoria' categoria.id %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ categoria.id }}"><i class="bi bi-trash"></i> Eliminar</button>

                    <!-- Modal de confirmación -->

                    <div class="modal fade" id="confirmDeleteModal{{ categoria.id }}" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Eliminación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Está seguro de que desea eliminar la categoría "{{ categoria.nombre }}"?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <form method="post" action="{% url 'eliminar_categoria' categoria.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}